Source: kodi-audiodsp-template
Priority: extra
Maintainer: wsnipex <wsnipex@xbmc.org>
Build-Depends: debhelper (>= 8.0.0), cmake, kodi-addon-dev, libkodiplatform-dev, kodi-audio-dev, libfftw3-dev, libsamplerate0-dev, doxygen
Standards-Version: 3.9.2
Section: libs
Homepage: http://kodi.tv

Package: kodi-audiodsp-template
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Audio DSP template for KODI
 This contains a template for audio DSP addons

Package: kodi-audiodsp-template-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Audio DSP template for KODI
 contains the debug symbols for xbmc-audiodsp-template

